@charset "utf-8";


html {
  font-size: 42px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Times New Roman", "IPA P明朝";
  font-feature-settings: "palt" 1, "pkna" 1;
  line-height: 1;
}

body.simple {
  overflow: hidden;
}


div.slide {
  width: 1.5rem * 16;
  height: 1.5rem * 9;
  margin: 1rem auto;
  padding: 0px;
  border: 1px hsl(0, 0%, 0%) solid;
  position: relative;
  overflow: hidden;

  body.simple & {
    margin: 0rem;
    border: none;
  }

  div.number {
    width: 5rem;
    height: 5rem;
    top: 0.4rem;
    left: -5rem * 1.4142 / 2;
    transform: rotate(-45deg);
    transform-origin: top left;
    background-color: hsl(205, 100%, 60%);
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    display: flex;
    z-index: -1;
  }

  div.number span.section {
    margin: 0rem 0.3em -0.2em 0rem;
    font-family: "Clarendon Cn BT";
    font-size: 1rem;
    letter-spacing: -0.1em;
    color: white;
  }

  div.number span.subsection {
    margin: 0rem 0rem -0.2em 0rem;
    font-family: "Clarendon Cn BT";
    font-size: 2rem;
    letter-spacing: -0.1em;
    color: white;
  }

  div.header {
    width: 100%;
    height: 0.8rem;
    top: 0rem;
    left: 0rem;
    background-color: hsl(205, 100%, 60%);
    position: absolute;
    z-index: -2;
  }

  div.footer {
    width: 100%;
    height: 0.8rem;
    bottom: 0rem;
    left: 0rem;
    background-color: hsl(35, 100%, 60%);
    position: absolute;
    z-index: -2;
  }

}


div.slide div.content {
  width: 100%;
  height: 100%;
  padding: 1rem 0rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;;
  display: flex;

  // 基本文字

  div.large {
    font-size: 1.2rem;
    letter-spacing: 0.1em;
  }

  // 強調

  span.emphasis.blue {
    color: hsl(205, 100%, 40%);
  }

  span.emphasis.orange {
    color: hsl(35, 100%, 40%);
  }

  // 例文の箇条書き

  ul.conlang {
    margin: 0rem;
    padding: 0rem;
    list-style-type: none;
  }

  ul.conlang >li {
    font-size: 1rem;
  }

  ul.conlang >li:nth-child(n+2) {
    margin: 0.6rem 0rem 0rem 0rem;
  }

  ul.conlang >li >ul {
    margin: 0.4rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0.3rem;
    list-style-type: none;
  }

  ul.conlang >li >ul >li {
    margin-left: 0.5rem;
    font-size: 0.7rem;
  }

  ul.conlang >li >ul >li::before {
    width: 0.5rem;
    margin: 0rem 0rem 0rem -0.5rem;
    font-family: "IPA P明朝";
    font-size: 80%;
    color: hsl(0, 0%, 50%);
    content: "▶";
    display: inline-block;
  }

  // 説明付きボックス

  span.vertical {
    display: inline-block;
  }

  span.vertical span.box-wrapper {
    display: inline-table;
  }

  span.vertical span.above {
    margin: 0rem 0rem 0.1rem 0rem;
    font-size: 0.5rem;
    text-align: center;
    display: block;
  }

  span.vertical.blue span.above {
    color: hsl(205, 100%, 40%);
  }

  span.vertical.orange span.above {
    color: hsl(35, 100%, 40%);
  }

  span.vertical.green span.above {
    color: hsl(300, 100%, 40%);
  }

  span.vertical span.below {
    margin: 0.1rem 0rem 0rem 0rem;
    font-size: 0.6rem;
    text-align: center;
    display: block;
  }

  span.vertical span.box {
    margin: 0em 0.05em;
    padding: 0.1em 0.25em;
    border: 0.05em hsl(0, 0%, 0%) solid;
    border-radius: 0.2em;
    text-align: center;
    display: block;
  }

  span.vertical.blue span.box {
    color: hsl(205, 100%, 40%);
    background-color: hsl(205, 100%, 90%);
    border-color: hsl(205, 100%, 40%);
  }

  span.vertical.orange span.box {
    color: hsl(35, 100%, 40%);
    background-color: hsl(35, 100%, 90%);
    border-color: hsl(35, 100%, 40%);
  }

  span.vertical.green span.box {
    color: hsl(300, 100%, 40%);
    background-color: hsl(300, 100%, 90%);
    border-color: hsl(300, 100%, 40%);
  }

}


* {

  // シャレイア語

  span.sans {
    font-family: "Arial" !important;
    font-size: 96% !important;
    line-height: 96% !important;
  }

}