@charset "utf-8";


$font-family: "Times New Roman", "IPA P明朝";
$sans-font-family: "Arial";
$special-font-family: "Gill Sans Nova";

$border-width: 0.05em;
$border-radius: 0.2em;

$hues: (
  blue: 205,
  orange: 35,
  pink: 300
);
$colors: (
  blue: hsl(map-get($hues, blue), 100%, 40%),
  orange: hsl(map-get($hues, orange), 100%, 40%),
  pink: hsl(map-get($hues, pink), 100%, 40%)
);
$background-colors: (
  blue: hsl(map-get($hues, blue), 100%, 90%),
  orange: hsl(map-get($hues, orange), 100%, 90%),
  pink: hsl(map-get($hues, pink), 100%, 90%)
);


@mixin slide {
  width: 100vh * 16 / 9;
  height: 100vh;
  margin: 0px auto;
  padding: 0px;
  background-color: white;
  position: relative;
  overflow: hidden;
}

@mixin slide-content {
  width: 100%;
  height: 100%;
  padding: 1rem 0rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;;
  display: flex;
}


html {
  font-size: 7.2vh;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: $font-family;
  font-feature-settings: "palt" 1, "pkna" 1;
  line-height: 1;
  background-color: black;
  overflow: hidden;
}


div.title-slide {
  @include slide;

  div.header {
    width: 100%;
    height: 0.8rem;
    top: 0rem;
    left: 0rem;
    background-color: hsl(205, 100%, 60%);
    position: absolute;
    z-index: 0;
  }

  div.footer {
    width: 100%;
    height: 0.8rem;
    bottom: 0rem;
    left: 0rem;
    background-color: hsl(35, 100%, 60%);
    position: absolute;
    z-index: 0;
  }

}


div.title-slide div.content {
  @include slide-content;

  // ロゴ

  div.logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  div.logo-wrapper div.logo {
    margin-right: 0.8rem;
    line-height: 0;
  }

  div.logo-wrapper div.logo img {
    height: 6rem;
  }

  // タイトル

  div.title-wrapper div.number {
    font-size: 60%;
    color: map-get($colors, blue);
    text-align: center;
  }

  div.title-wrapper div.number span.number {
    margin: 0em 0.2em;
    font-family: $special-font-family;
    font-size: 250%;
    font-weight: bold;
    font-stretch: condensed;
  }

  div.title-wrapper div.title {
    margin-top: 0.5rem;
    font-size: 100%;
    text-align: center;
    letter-spacing: 0.1em;
  }

}


div.slide {
  @include slide;

  div.number {
    width: 5rem;
    height: 5rem;
    top: 0.4rem;
    left: 5rem * -1.4142 / 2;
    transform: rotate(-45deg);
    transform-origin: top left;
    background-color: hsl(205, 100%, 60%);
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    display: flex;
    z-index: 1;
  }

  div.number span.section {
    margin: 0em 0.3em -0.2em 0em;
    font-family: $special-font-family;
    font-size: 1rem;
    font-weight: bold;
    font-stretch: condensed;
    letter-spacing: -0.1em;
    color: white;
  }

  div.number span.subsection {
    margin: 0em 0em -0.2em 0em;
    font-family: $special-font-family;
    font-size: 2rem;
    font-weight: bold;
    font-stretch: condensed;
    letter-spacing: -0.1em;
    color: white;
  }

  div.header {
    width: 100%;
    height: 0.8rem;
    top: 0rem;
    left: 0rem;
    background-color: hsl(205, 100%, 60%);
    position: absolute;
    z-index: 0;
  }

  div.footer {
    width: 100%;
    height: 0.8rem;
    bottom: 0rem;
    left: 0rem;
    background-color: hsl(35, 100%, 60%);
    position: absolute;
    z-index: 0;
  }

}


div.slide div.content {
  @include slide-content;

  // 基本文字

  div.large {
    font-size: 120%;
    letter-spacing: 0.1em;
  }

  div.huge {
    font-size: 150%;
    letter-spacing: 0.1em;
  }

  // 強調

  @each $name in map-keys($hues) {
    span.emphasis.#{$name} {
      color: map-get($colors, $name);
    }
  }

  // ボックス

  $box-horizontal-margin: 0.05em;
  $box-vertical-padding: 0.1em;
  $box-horizontal-padding: 0.25em;

  span.box {
    margin: 0em $box-horizontal-margin;
    padding: $box-vertical-padding $box-horizontal-padding;
    border: $border-width black solid;
    border-radius: $border-radius;
    text-align: center;
    display: block;
  }

  @each $name in map-keys($hues) {
    span.box.#{$name} {
      color: map-get($colors, $name);
      background-color: map-get($background-colors, $name);
      border-color: map-get($colors, $name);
    }
  }

  // 上下の説明

  $pile-above-gap: 0.2em;
  $pile-below-gap: 0.2em;
  $pile-above-font-size: 50%;
  $pile-below-font-size: 60%;

  span.pile {
    display: inline-block;
  }

  span.pile span.below-wrapper {
    display: inline-table;
  }

  span.pile span.above {
    margin-bottom: $pile-above-gap;
    font-size: $pile-above-font-size;
    text-align: center;
    display: block;
  }

  @each $name in map-keys($hues) {
    span.pile span.above.#{$name} {
      color: map-get($colors, $name);
    }
  }

  span.pile span.below {
    margin-top: $pile-below-gap;
    font-size: $pile-below-font-size;
    text-align: center;
    display: block;
  }

  // 例文の箇条書き

  $conlang-item-gap: 0.8rem;
  $conlang-equivalent-gap: 0.4rem;
  $conlang-equivalent-font-size: 70%;
  $conlang-marker-indent: 0.4rem; 
  $conlang-marker-width: 0.5rem;
  $conlang-marker-color: hsl(0, 0%, 50%);

  ul.conlang {
    margin: 0rem;
    padding: 0rem;
    font-size: 100%;
    list-style-type: none;
  }

  ul.conlang >li {
    font-size: 100%;
  }

  ul.conlang >li:nth-child(n+2) {
    margin-top: $conlang-item-gap;
  }

  ul.conlang >li >ul {
    margin-top: $conlang-equivalent-gap;
    padding-left: $conlang-marker-indent;
    list-style-type: none;
  }

  ul.conlang >li >ul >li {
    margin-left: $conlang-marker-width;
    font-size: $conlang-equivalent-font-size;
  }

  ul.conlang >li >ul >li::before {
    width: $conlang-marker-width;
    margin-left: 0rem - $conlang-marker-width;
    font-family: "IPA P明朝";
    font-size: 80%;
    color: $conlang-marker-color;
    content: "▶";
    display: inline-block;
  }

  // 表

  $table-border-color: hsl(0, 0%, 70%);

  table {
    margin: 0rem;
    padding: 0rem;
    font-size: 80%;
    border-collapse: separate;
    border-spacing: 0rem;
    border-radius: $border-radius;
    white-space: nowrap;
  }

  table tr th,
  table tr td {
    margin: 0rem;
    padding: 0.2rem 0.6rem;
    font-weight: normal;
    text-align: center;
    border-bottom: $border-width $table-border-color solid;
    border-right: $border-width $table-border-color solid;
  }

  table tr th {
    background: $table-border-color;
  }

  table tr:first-child th, 
  table tr:first-child td {
    border-top: $border-width $table-border-color solid;
  }

  table tr th:first-child, 
  table tr td:first-child {
    border-left: $border-width $table-border-color solid;
  }

  table tr:first-child th:first-child,
  table tr:first-child td:first-child {
    border-top-left-radius: $border-radius;
  }

  table tr:first-child th:last-child,
  table tr:first-child td:last-child {
    border-top-right-radius: $border-radius;
  }

  table tr:last-child th:first-child,
  table tr:last-child td:first-child {
    border-bottom-left-radius: $border-radius;
  }

  table tr:last-child th:last-child,
  table tr:last-child td:last-child {
    border-bottom-right-radius: $border-radius;
  }

}


* {

  span.sans {
    font-family: $sans-font-family !important;
    font-size: 96% !important;
    line-height: 96% !important;
  }

}