@charset "utf-8";


@function len($amount) {
  @return 7.2vh * $amount;   
}


$font-family: "Times New Roman", "IPA P明朝";
$sans-font-family: "Arial";
$special-font-family: "Gill Sans Nova";

$hues: (
  blue: 205,
  orange: 35,
  pink: 300
);
$colors: (
  blue: hsl(map-get($hues, blue), 100%, 40%),
  orange: hsl(map-get($hues, orange), 100%, 40%),
  pink: hsl(map-get($hues, pink), 100%, 40%)
);
$background-colors: (
  blue: hsl(map-get($hues, blue), 100%, 90%),
  orange: hsl(map-get($hues, orange), 100%, 90%),
  pink: hsl(map-get($hues, pink), 100%, 90%)
);


body {
  margin: 0px;
  padding: 0px;
  font-family: $font-family;
  font-feature-settings: "palt" 1, "pkna" 1;
  line-height: 1;
  background-color: black;
  overflow: hidden;
}


div.slide {
  width: 100vh * 16 / 9;
  height: 100vh;
  margin: 0px auto;
  padding: 0px;
  background-color: white;
  position: relative;
  overflow: hidden;

  div.number {
    width: len(5);
    height: len(5);
    top: len(0.4);
    left: len(5) * -1.4142 / 2;
    transform: rotate(-45deg);
    transform-origin: top left;
    background-color: hsl(205, 100%, 60%);
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    display: flex;
    z-index: 1;
  }

  div.number span.section {
    margin: 0em 0.3em -0.2em 0em;
    font-family: $special-font-family;
    font-size: len(1);
    font-weight: bold;
    font-stretch: condensed;
    letter-spacing: -0.1em;
    color: white;
  }

  div.number span.subsection {
    margin: 0em 0em -0.2em 0em;
    font-family: $special-font-family;
    font-size: len(2);
    font-weight: bold;
    font-stretch: condensed;
    letter-spacing: -0.1em;
    color: white;
  }

  div.header {
    width: 100%;
    height: len(0.8);
    top: len(0);
    left: len(0);
    background-color: hsl(205, 100%, 60%);
    position: absolute;
    z-index: 0;
  }

  div.footer {
    width: 100%;
    height: len(0.8);
    bottom: len(0);
    left: len(0);
    background-color: hsl(35, 100%, 60%);
    position: absolute;
    z-index: 0;
  }

}


div.slide div.content {
  width: 100%;
  height: 100%;
  padding: len(1) len(0);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;;
  display: flex;

  // 基本文字

  div.large {
    font-size: len(1.2);
    letter-spacing: 0.1em;
  }

  div.huge {
    font-size: len(1.5);
    letter-spacing: 0.1em;
  }

  // 強調

  @each $name in map-keys($hues) {
    span.emphasis.#{$name} {
      color: map-get($colors, $name);
    }
  }

  // ボックス

  span.box {
    margin: 0em 0.05em;
    padding: 0.1em 0.25em;
    border: 0.05em hsl(0, 0%, 0%) solid;
    border-radius: 0.2em;
    text-align: center;
    display: block;
  }

  @each $name in map-keys($hues) {
    span.box.#{$name} {
      color: map-get($colors, $name);
      background-color: map-get($background-colors, $name);
      border-color: map-get($colors, $name);
    }
  }

  // 上下の説明

  span.vertical {
    display: inline-block;
  }

  span.vertical span.below-wrapper {
    display: inline-table;
  }

  span.vertical span.above {
    margin: len(0) len(0) len(0.1) len(0);
    font-size: len(0.5);
    text-align: center;
    display: block;
  }

  @each $name in map-keys($hues) {
    span.vertical span.above.#{$name} {
      color: map-get($colors, $name);
    }
  }

  span.vertical span.below {
    margin: len(0.1) len(0) len(0) len(0);
    font-size: len(0.6);
    text-align: center;
    display: block;
  }

  // 例文の箇条書き

  ul.conlang {
    margin: len(0);
    padding: len(0);
    list-style-type: none;
  }

  ul.conlang >li {
    font-size: len(1);
  }

  ul.conlang >li:nth-child(n+2) {
    margin: len(0.8) len(0) len(0) len(0);
  }

  ul.conlang >li >ul {
    margin: len(0.4) len(0) len(0) len(0);
    padding: len(0) len(0) len(0) len(0.3);
    list-style-type: none;
  }

  ul.conlang >li >ul >li {
    margin-left: len(0.5);
    font-size: len(0.7);
  }

  ul.conlang >li >ul >li::before {
    width: len(0.5);
    margin: len(0) len(0) len(0) len(-0.5);
    font-family: "IPA P明朝";
    font-size: 0.8em;
    color: hsl(0, 0%, 50%);
    content: "▶";
    display: inline-block;
  }

  // 表

  $table-border-color: hsl(0, 0%, 70%);
  $table-border-radius: 0.1em;

  table {
    margin: len(0);
    padding: len(0);
    border-collapse: separate;
    border-spacing: len(0);
    border-radius: $table-border-radius;
    white-space: nowrap;
  }

  table tr th,
  table tr td {
    margin: len(0);
    padding: len(0.2) len(0.6);
    font-size: len(0.8);
    font-weight: normal;
    text-align: center;
    border-bottom: 0.05em $table-border-color solid;
    border-right: 0.05em $table-border-color solid;
  }

  table tr th {
    background: $table-border-color;
  }

  table tr:first-child th, 
  table tr:first-child td {
    border-top: 0.05em $table-border-color solid;
  }

  table tr th:first-child, 
  table tr td:first-child {
    border-left: 0.05em $table-border-color solid;
  }

  table tr:first-child th:first-child,
  table tr:first-child td:first-child {
    border-top-left-radius: $table-border-radius;
  }

  table tr:first-child th:last-child,
  table tr:first-child td:last-child {
    border-top-right-radius: $table-border-radius;
  }

  table tr:last-child th:first-child,
  table tr:last-child td:first-child {
    border-bottom-left-radius: $table-border-radius;
  }

  table tr:last-child th:last-child,
  table tr:last-child td:last-child {
    border-bottom-right-radius: $table-border-radius;
  }

}


* {

  span.sans {
    font-family: $sans-font-family !important;
    font-size: 96% !important;
    line-height: 96% !important;
  }

}